<app-navbar></app-navbar>
<div class="w-10/12 py-5 mx-auto mt-3 rounded-md shadow-lg lg:w-9/12 px-7 bg-[#F5F5DC]">
  <form [formGroup]="userForm">
    <div class="relative flex justify-center">
      <img class="rounded-full w-36 h-36 border border-[#3F3D56] object-cover" [src]="(uploadedImage | async)?.captureFileURL ? (uploadedImage | async)?.captureFileURL : '../../../../assets/avatar.webp'" alt="avatar" />
      <tui-loader [inheritColor]="false" [overlay]="true" class="absolute flex items-center justify-center overflow-visible top-16" [size]="'l'" [showLoader]="(uploadingImage | async) == true"></tui-loader>
      <label class="absolute flex items-center justify-center transition duration-500 rounded-full cursor-pointer w-36 h-36 group hover:bg-gray-200 opacity-60">
        <img class="hidden w-12 group-hover:block" src="https://www.svgrepo.com/show/33565/upload.svg" alt="upload_svg" />
        <input [disabled]="(uploadingImage | async) == true" (change)="onSelectFile($event)" type='file' class="hidden" :accept=".png, .jpg, .jpeg" />
      </label>
    </div>
    <p class="pt-1 pb-5 text-xs text-center">Allowed file types are PNG and JPEG</p>
    <div class="grid grid-cols-12 gap-3">
      <div class="col-span-12 md:col-span-4">
        <tui-input
          formControlName="firstName"
          [tuiTextfieldCleaner]="true"
        >
          First Name&nbsp;

          <input
            tuiTextfield
            type="text"
          />
        </tui-input>
      </div>
      <div class="col-span-12 md:col-span-4">
        <tui-input
          formControlName="middleName"
          [tuiTextfieldCleaner]="true"
        >
          Middle Name&nbsp;

          <input
            tuiTextfield
            type="text"
          />
        </tui-input>
      </div>
      <div class="col-span-12 md:col-span-4">
        <tui-input
          formControlName="lastName"
          [tuiTextfieldCleaner]="true"
        >
          Last Name&nbsp;

          <input
            tuiTextfield
            type="text"
          />
        </tui-input>
      </div>
    </div>
    <tui-input
      formControlName="designation"
      [tuiTextfieldCleaner]="true"
      class="pt-3"
    >
      Designation&nbsp;

      <input
        tuiTextfield
        type="text"
      />
    </tui-input>

    <tui-text-area
      formControlName="bio"
      class="pt-3 tui-space_bottom-4 field-large"
    >
      Bio&nbsp;

    </tui-text-area>

    <div class="flex justify-center">
      <button
        tuiButton
        type="button"
        (click)="submitUserData()"
        [showLoader]="(addingUser | async)!"
      >
        Submit
      </button>
    </div>
  </form>
</div>
<br>
