<div class="relative overflow-x-auto shadow-xl sm:rounded-lg">
  <tui-loader [inheritColor]="true" [showLoader]="false" [overlay]="true" size="xl" class="w-full">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-4 text-center">
            User name
          </th>
          <th scope="col" class="px-6 py-4 text-center">
            Actions
          </th>
        </tr>
      </thead>
        <tbody>
          <ng-container *ngFor="let user of userData; let i = index; let first = first; let last = last;">
            <tr class="w-full text-center bg-white" [ngClass]="!last ? 'border-b border-gray-200' : ''">
              <th scope="row" class="w-1/2 px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{user.firstName + ' ' + user.middleName + ' ' + user.lastName}}
              </th>
              <td class="w-1/2 px-6 py-4">
                <div class="flex justify-center py-3">
                  <button
                    tuiIconButton
                    type="button"
                    size="xs"
                    icon="tuiIconEye"
                    appearance="secondary"
                    routerLink="/user/userDetails"
                  ></button>
                  <button
                    tuiIconButton
                    type="button"
                    size="xs"
                    class="mx-4"
                    icon="tuiIconTrash2"
                    appearance="accent"
                    (click)="deleteUserData(user)"
                  ></button>
                  <button
                    tuiIconButton
                    type="button"
                    size="xs"
                    icon="tuiIconEdit"
                    appearance="secondary-destructive"
                    (click)="editUserData(user)"
                    [routerLink]="['/user/editUser', user.id]"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
    </table>
  </tui-loader>
  <div class="flex justify-center pt-10 pb-6">
    <tui-pagination
      [length]="24"
      [index]="index"
      (indexChange)="goToPage($event)"
    >
    </tui-pagination>
  </div>
</div>
